<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Menu Principal</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
    <body>
	<div>

		<nav class="navbar navbar-expand navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Cibertec</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-link dropdown"><a class="nav-link"
						th:href="@{/listarDepartamento}" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Departamento </a></li>
					<li class="nav-link dropdown"><a class="nav-link"
						th:href="@{/listarPropietario}" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Propietario </a></li>
					<li class="nav-link dropdown"><a class="nav-link"
						th:href="@{/listarVisitante}" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Visitante </a></li>
					<li class="nav-link dropdown"><a class="nav-link"
						th:href="@{/listarMascota}" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Mascota </a></li>
					<li class="nav-link dropdown"><a class="nav-link"
						th:href="@{/listarVisita}" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Visita </a></li>

				</ul>
			</div>
			<form th:action="@{/logout}" method="post">
			<a class="navbar-brand" href="#">Cerrar Sesion</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			</form>
			
		</nav>
	</div>
	<h1 th:inline="text">Hola [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Cerrar Sesion"/>
        </form>
    </body>
</html>